<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_app_piccola"
        android:logo="@mipmap/logo_app_piccola"
        android:roundIcon="@mipmap/logo_app_piccola"
        android:banner="@mipmap/logo_app_piccola"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProgettoDispositiviMobili"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="34">

        <activity
            android:name=".ui.welcome.fragment.WelcomeActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProgettoDispositiviMobili">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProgettoDispositiviMobili"/>
        <activity
            android:name=".ui.main.MainActivityWithBottomNavigationView"
            android:label="MainActivityWithBottomNavigationView"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProgettoDispositiviMobili"/>
        <activity
            android:name=".ui.main.MainActivityWithNavigationDrawer"
            android:label="MainActivityWithNavigationDrawer"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProgettoDispositiviMobili"/>
    </application>

</manifest>
